---
import { getCollection } from "astro:content";
import Speaker from "@/components/Speaker.astro";
const speakers = await getCollection("speakers");
---

<h1>Nuestros conferencistas</h1>

{speakers.map((sp) => <Speaker speaker={sp} />)}
