---
import CoolTitle from "../CoolTitle.astro";
import Section from "../Section.astro";
import bgA from "@/assets/images/3S6A9582_VSCO.jpg";
import bgB from "@/assets/images/3S6A9498-min.jpg";
import bgC from "@/assets/images/3S6A9716_VSCO.jpg";
---

<CoolTitle text="¿Por qué deberías vivir SEEK Local?" />

<Section title={{ text: "Encuentro", size: "h2" }} image={bgA}>
  <h5>
    Siempre estás llamado a profundizar en tu relación con Jesucristo y con su
    Iglesia: ¡ven y descubre qué te espera!
  </h5>
</Section>

<Section title={{ text: "Comunidad", size: "h2" }} image={bgB} imageClasses="object-bottom">
  <h5>
    No fuimos creados para estar solos. Conecta con otros jóvenes, únete a la
    Iglesia y caminemos juntos.
  </h5>
</Section>

<Section title={{ text: "Transformación", size: "h2" }} image={bgC} imageClasses="brightness-125">
  <h5>
    Experimenta verdad, belleza y bondad. Escucha a conferencistas reconocidos.
    Vive eventos impactantes, entretenimiento y ¡mucho más!
  </h5>
</Section>
