---
import CoolTitle from "../CoolTitle.astro";
import Section from "../Section.astro";
import bgA from "../../assets/images/jon-tyson-YtYNavix3pw-unsplash.jpg";
import bgB from "../../assets/images/thiago-barletta-36tX9ncYlzw-unsplash.jpg";
import bgC from "../../assets/images/rosie-sun-rTwhmFSoXC8-unsplash.jpg";
---

<CoolTitle text="¿Por qué deberías vivir SEEK Local?" />

<Section title={{ text: "Encuentro", size: "h2" }} background={bgA}>
  <h5>
    Siempre estás llamado a profundizar en tu relación con Jesucristo y con su
    Iglesia: ¡ven y descubre qué te espera!
  </h5>
</Section>

<Section title={{ text: "Comunidad", size: "h2" }} background={bgB}>
  <h5>
    No fuimos creados para estar solos. Conecta con otros jóvenes, únete a la
    Iglesia y caminemos juntos.
  </h5>
</Section>

<Section title={{ text: "Transformación", size: "h2" }} background={bgC}>
  <h5>
    Experimenta verdad, belleza y bondad. Escucha a conferencistas reconocidos.
    Vive eventos impactantes, entretenimiento y ¡mucho más!
  </h5>
</Section>
