---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Button from "../components/BeritComponents/Button.astro";
---

<Layout>
  <Section
    title={{ text: "Comencemos con tu correo electrónico", size: "h2" }}
    class="border-2"
  >
    <input type="email" placeholder="fulanito@gmail.com" />

    <p class="hidden text-red-300" id="error-message"></p>

    <Button id="continue" class="bg-primary" text="Continuar" />

    <button id="google-auth">Googel</button>
  </Section>

  <script>
    import fbApp, { auth, ga_provider } from "../utils/firebase";
    import {
      getAuth,
      sendSignInLinkToEmail,
      signInWithPopup,
    } from "firebase/auth";

    const inputElement = document.querySelector(
      "input[type='email']",
    ) as HTMLInputElement;
    const buttonElement = document.getElementById("continue") as any;
    const errorMessageElement = document.getElementById(
      "error-message",
    ) as HTMLParagraphElement;

    const actionCodeSettings = {
      url: "http://localhost:4321/login",
      handleCodeInApp: true,
    };

    const valid = (): boolean => {
      const email = inputElement.value;
      const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

      if (email.length === 0) {
        errorMessageElement.textContent = "No puedes dejar el correo vacío";
        errorMessageElement.classList.remove("hidden");
        return false;
      } else if (!emailRegex.test(email)) {
        errorMessageElement.textContent = "Correo electrónico inválido";
        errorMessageElement.classList.remove("hidden");
        return false;
      } else {
        errorMessageElement.classList.add("hidden");
      }

      return true;
    };

    buttonElement.addEventListener("click", async (e: Event) => {
      inputElement.disabled = true;
      buttonElement.loading();

      if (!valid()) {
        inputElement.disabled = false;
        buttonElement.reset();
        return;
      }

      try {
        await sendSignInLinkToEmail(
          auth,
          inputElement.value,
          actionCodeSettings,
        );

        buttonElement.success("Hemos enviado una liga a tu correo");

        window.localStorage.setItem("emailForSignIn", inputElement.value);
      } catch (error) {
        console.error(error);
        buttonElement.reset();
        errorMessageElement.textContent =
          "Tuvimos un problema, intenta de nuevo más tarde";
        errorMessageElement.classList.remove("hidden");
      }

      inputElement.disabled = false;
    });

    document.addEventListener("keydown", (e: KeyboardEvent) => {
      if (e.key === "Enter") {
        buttonElement.click();
      }
    });

    const googleAuthButton = document.getElementById(
      "google-auth",
    ) as HTMLButtonElement;
    googleAuthButton.addEventListener("click", async () => {
      signInWithPopup(auth, ga_provider);
    });
  </script>
</Layout>
