---
import Schedule from "@/components/Schedule.astro";
import Layout from "@/layouts/Layout.astro";
import Section from "@/components/Section.astro";
import Button from "@/components/BeritComponents/Button.astro";
import { horario } from "@/utils/notion";

const events = await horario();

const grouped_by_day: any = {};
events.results.forEach((event) => {
  const day = new Date(
    (event.properties as any)["Fecha"].date.start,
  ).toLocaleString("es-MX", {
    month: "long",
    day: "numeric",
    timeZone: "America/Mexico_City",
  });

  if (!grouped_by_day[day]) {
    grouped_by_day[day] = [event];
  } else {
    grouped_by_day[day].push(event);
  }
});
---

<Layout>
  <Section>
    <Section class="border-1 p-6 !w-fit mr-auto">
      <p>¿Necesitas un mapa para ubicar algún evento o acceso?</p>
      <Button
        href="/SEEKLocal_Mapas.pdf"
        class=""
        primary={false}
        text="Ver mapas"
      />
    </Section>

    {
      Object.keys(grouped_by_day).map((date) => {
        return <Schedule title={date} events={grouped_by_day[date]} />;
      })
    }
  </Section>
</Layout>
