---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import HomeBanner from "../assets/images/home-banner.jpg";
import RegisterCta from "../components/RegisterCta.astro";
import Why from "../components/sections/Why.astro";
import Chip from "../components/Chip.astro";
import Section from "../components/Section.astro";
import BuyTicketLink from "../components/BuyTicketLink.astro";
---

<Layout>
	<div class="-mt-36 -mx-6
		rounded-b-full md:rounded-b-[45%] overflow-x-hidden">
		<Image
			src={HomeBanner}
			class="h-svh min-w-screen object-cover"
			alt="Hero"
		/>

		<div
			id="hero_section"
			class="absolute inset-0 p-6 flex flex-col gap-6 items-center justify-center bg-black/40"
		>
			<h1 class="parallax-item uppercase text-center md:text-[10rem]">
				Ven y Sígueme
			</h1>

			<h5 class="parallax-item text-center">
				La conferencia de universitarios católicos para vivir, crecer y amar.
			</h5>

			<div class="parallax-item flex flex-row items-center gap-2">
				<h3>Monterrey, NL</h3>
				<Chip>Marzo 7 - 9, 2025</Chip>
			</div>

			<BuyTicketLink
				id="cta_button"
				class="parallax-item bg-primary px-6 py-2 rounded-full hoverable"
			>
				<h5>Regístrate</h5>
			</BuyTicketLink>
		</div>

		<script>
			import gsap, { Observer } from "../utils/gsap";

			gsap.to("#hero_section .parallax-item", {
				scrollTrigger: {
					trigger: "#hero_section",
					start: "center center",
					end: "center top",
					scrub: true,
				},
				y: (index) => {
					const distances = ["-20svh", "-15svh", "-10svh", "-5svh"];
					return distances[index % distances.length];
				},
			});

			Observer.create({
				target: "#cta_button",
				onHover: () => {
					gsap.to("#cta_button", {
						scale: 1.1,
						y: -10,
						rotate: -1,
						duration: 0.5,
					});
				},
				onHoverEnd: () => {
					gsap.to("#cta_button", {
						scale: 1,
						y: 0,
						rotate: 0,
						duration: 0.5,
					});
				},
			});
		</script>
	</div>

	<Why />

	<Section
		id="registro_bottom_cta"
		title={{ text: "¿Listo para vivir?", size: "h1" }}
		class="rounded-3xl p-6 border-2 border-primary"
	>
		<BuyTicketLink
			class="bg-primary hoverable p-6 text-black text-center rounded"
			><h4>Regístrate</h4>
		</BuyTicketLink>

		<script>
			import gsap from "../utils/gsap";

			const tl = gsap.timeline({
				repeat: -1,
				scrollTrigger: {
					trigger: "#registro_bottom_cta",
					start: "center bottom",
				},
			});

			tl.to("#registro_bottom_cta h1", {
				duration: 2,
				delay: 2,
				text: {
					value: `¿Listo para crecer?`,
					type: "diff",
				},
			})
				.to("#registro_bottom_cta h1", {
					duration: 2,
					delay: 2,

					text: {
						value: `¿Listo para amar?`,
						type: "diff",
					},
				})
				.to("#registro_bottom_cta h1", {
					duration: 2,
					delay: 2,

					text: {
						value: `¿Listo para vivir?`,
						type: "diff",
					},
				});
		</script>
	</Section>
</Layout>
