---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import HomeBanner from "../assets/images/landing.jpg";
import Why from "../components/sections/Why.astro";
import Details from "@/components/sections/Details.astro";
import Chip from "../components/Chip.astro";
import Section from "../components/Section.astro";
import Button from "../components/BeritComponents/Button.astro";
import FeaturedSpeakers from "@/components/sections/FeaturedSpeakers.astro";
---

<Layout>
	<div class="-mt-36 -mx-6
		rounded-b-full md:rounded-b-[45%] overflow-x-hidden">
		<Image
			src={HomeBanner}
			class="h-svh min-w-screen object-cover object-[center_60%]"
			alt="Hero"
		/>

		<div
			id="hero_section"
			class="absolute inset-0 p-6 flex flex-col gap-6 items-center justify-center bg-black/40"
		>
			<h1 class="parallax-item uppercase text-center md:text-[10rem]">
				Ven y Sígueme
			</h1>

			<h5 class="parallax-item text-center">
				Más que solo una conferencia para universitarios católicos.
			</h5>

			<div class="parallax-item flex flex-row items-center gap-2">
				<h3>Monterrey, NL</h3>
				<Chip>Marzo 7 - 9, 2025</Chip>
			</div>

			<Button
				href="/registro"
				class="parallax-item font-bold"
				primary={true}
				text="Regístrate"
			/>

			<!--
			<Button href="/horario" class="parallax-item" text="Ver horario" />
			 -->
		</div>
		<script>
			import gsap from "../utils/gsap";

			gsap.to("#hero_section .parallax-item", {
				scrollTrigger: {
					trigger: "#hero_section",
					start: "center center",
					end: "center top",
					scrub: true,
				},
				y: (index) => {
					const distances = ["-25svh", "-20svh", "-15svh", "-10svh", "-5svh"];
					return distances[index % distances.length];
				},
			});
		</script>
	</div>

	<FeaturedSpeakers />

	<Why />

	<Details />

	<Section
		id="registro_bottom_cta"
		title={{ text: "¿Listo para vivir?", size: "h1" }}
		class="rounded-3xl p-6 border-2 border-primary"
	>
		<Button href="/registro" text="Regístrate" class="" />
	</Section>
</Layout>
