---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import HomeBanner from "../assets/images/home-banner.jpg";
import RegisterCta from "../components/RegisterCta.astro";
import Why from "../components/sections/Why.astro";
import Chip from "../components/Chip.astro";
import Section from "../components/Section.astro";
---

<Layout>
	<!-- Absolutely and Dynamically placed elements -->
	<RegisterCta />

	<div
		class="-mt-36 -mx-6 -z-10
		rounded-b-full md:rounded-b-[45%] overflow-x-hidden"
	>
		<Image
			src={HomeBanner}
			class="h-svh min-w-screen object-cover"
			alt="Hero"
		/>

		<div
			class="absolute inset-0 flex flex-col gap-6 items-center justify-center bg-black/20"
		>
			<h1 class="uppercase text-center md:text-[10rem]">Ven y Sígueme</h1>

			<div class="flex flex-col gap-2">
				<h2>Monterrey, NL</h2>
				<Chip>Marzo 7 - 9, 2025</Chip>
			</div>
		</div>
	</div>

	<Why />

	<Section
		title={{ text: "¿Listo para registrarte?", size: "h1" }}
		class="rounded-3xl p-6 border-2 border-primary"
	>
		<a href="/registro" class="bg-primary hover:brightness-75 p-6 text-black text-center rounded">¡Regístrate!</a>
	</Section>
</Layout>
