---
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Section title={{ text: "¡Que bueno es verte!", size: "h2" }}>
    <p id="info"></p>
  </Section>
</Layout>
