---
import Section from "@/components/Section.astro";
import Layout from "@/layouts/Layout.astro";
import { ProfileForm } from "../components/byPage/register";
---

<Layout>
  <Section>
    <ProfileForm client:load />
  </Section>
</Layout>
