---
import Layout from "@/layouts/Layout.astro";
import Section from "@/components/Section.astro";
import Details from "@/components/sections/Details.astro";
---
<Layout>
    <Section title={{ text: "¡Gracias!", size: "h1"}}>
        <p>Hemos recibido tu pago y esperamos verte muy pronto. Gracias por ser parte de SEEK Local en Monterrey 2025 :)</p>
        <p>Cuando se acerque la fecha de SEEK, te escribiremos al correo electrónico con el que pagaste para indicarte los siguientes pasos.</p>
    </Section>

    <Details />
</Layout>