---
export const prerender = false;

import Layout from "@/layouts/Layout.astro";
import Section from "@/components/Section.astro";
import RegistrationStatus from "@/components/RegistrationStatus.astro";

const { regno } = Astro.params;
---

<Layout>
  <Section title={{ text: "¡Gracias!", size: "h1" }}>
    <p>
      Hemos recibido tu registro para SEEK Local en Monterrey 2025. Dentro de 1
      - 2 semanas te enviaremos un correo con los detalles del pago para que
      puedas completar tu registro.
    </p>

    <RegistrationStatus regno={regno ?? ""} server:defer />

    <p>
      Siempre puedes ver este pase de conferencia <a
        href={`https://seeklocalmty.com/b/${regno}`}>aquí.</a>
    </p>
  </Section>
</Layout>
