---
interface Props {
  id?: string;
  title: string;
  class?: string;
}

const { id = "", title, class: className = "" } = Astro.props;
---

<div
  class:list={[className, "card rounded-xl p-6  h-[50svh]"]}
>
  <h2>{title}</h1>

  <slot />
</div>
