---
interface Properties {
  text: string;
  class?: string;
}

const { text, class: className = "" } = Astro.props;
---

<div class="pvsContainer
  -mx-6 border-2-
  duration-0">
  <h1
    id="pvsText"
    class="w-full huge text-nowrap duration-0 mx-12 lg:mx-24 mb-12"
  >
    {text}
  </h1>
</div>

<style>
  span {
    display: inline-block;
  }
</style>

<script>
  import gsap from "../utils/gsap";

  const allPvsContainers = document.querySelectorAll(
    `.pvsContainer`,
  ) as NodeListOf<HTMLElement>;

  allPvsContainers.forEach((container) => {
    const text = container.querySelector("#pvsText") as HTMLElement;

    gsap.fromTo(
      text,
      {
        x: 0,
      },
      {
        x:
          container.offsetWidth -
          container.scrollWidth -
          (parseFloat(getComputedStyle(text).marginRight) ?? 0),
        scrollTrigger: {
          trigger: text,
          start: "center center",
          end: "center 10%",
          scrub: true,
        },
      },
    );
  });
</script>
