---
interface Properties {
  text: string;
  class?: string;
}

const { text = "", class: className = "" } = Astro.props;
---

<h1 data-cool-title class="huge items-center justify-between">
  {
    text.split(" ").map((word: string) => (
      <span class="word mr-8 md:mr-12">
        {word.split("").map((letter: string) => (
          <span class="letter">{letter}</span>
        ))}
      </span>
    ))
  }
</h1>

<style>
  span {
    display: inline-block;
  }
</style>

<script>
  import gsap from "../utils/gsap";

  gsap.fromTo(
    "[data-cool-title] span",
    {
      opacity: 0.2,
      y: "1rem",
    },
    {
      opacity: 1,
      y: 0,
      ease: "none",
      stagger: 0.03,
      scrollTrigger: {
        trigger: "[data-cool-title]",
        start: "top bottom",
        end: "bottom center",
        scrub: true,
      },
    },
  );
</script>
