<div
  data-custom-cursor
  class="hidden sm:block
  fixed size-8 rounded-full z-50
bg-primary backdrop-invert pointer-events-none mix-blend-difference"
>
</div>

<div
  data-custom-pointer
  class="hidden sm:block
  fixed size-1 rounded-full z-50
  bg-white backdrop-inver pointer-events-none mix-blend-difference"
>
</div>

<script>
  import gsap, { Observer } from "../utils/gsap";

  document.body.setAttribute("style", "cursor: none;");

  const cursor = document.querySelector("[data-custom-cursor]") as HTMLElement;

  const pointer = document.querySelector(
    "[data-custom-pointer]",
  ) as HTMLElement;

  Observer.create({
    target: window,
    type: "pointer",
    onMove: (self) => {
      const { x, y } = self;
      const { paddingLeft, paddingTop } = window.getComputedStyle(
        window.document.body,
      );

      const newX = (x ?? 0) - parseInt(paddingLeft);
      const newY = (y ?? 0) - parseInt(paddingTop);

      gsap.to(pointer, {
        x: newX - pointer.clientWidth / 2,
        y: newY - pointer.clientHeight / 2,
        ease: "none",
        duration: 0,
      });

      gsap.to(cursor, {
        x: newX - cursor.clientWidth / 2,
        y: newY - cursor.clientHeight / 2,
      });
    },
  });
</script>
