---
const year = new Date().getFullYear();
---
<div class="h-24 border-t-2 border-gray-800 mt-48 -mx-6 -mb-6">
  <div class="flex flex-col items-center justify-center h-full">
    <p class="text-sm text-gray-500">
      &copy; {year} FOCUS. Todos los derechos reservados.
    </p>
  </div>
</div>
