---
import { Image } from "astro:assets";
import SEEKLocalLogo from "@/assets/images/SEEK_MTY_Logo_Long_4.png";
---

<div id="nav_bar" class="flex justify-center z-50">
  <a href="/" class="hoverable w-fit">
    <Image
      src={SEEKLocalLogo}
      alt="SEEK Local logo"
      class="h-8 md:h-14 w-auto"
    />
  </a>
</div>
