---
import SeekLogo from "../assets/seek_logo.svg";
import { Image } from "astro:assets";
---

<div class="grid grid-cols-2">
  <a href="/" class="default"><h2>SEEK Local</h2></a>

  <div class="flex gap-6 items-center justify-self-end">
    <a href="/registro" class="hoverable"><h3>Regístrate</h3></a>
    <h4 class="underline underline-offset-8">Menú</h4>
  </div>
</div>
