---

---

<div id="nav_bar" class="grid grid-cols-2 z-50">
  <a href="/" class="hoverable"><h2>SEEK Local</h2></a>

  <div class="flex gap-6 items-center justify-self-end">
    <a href="/register" class="hoverable"><h5>Registrarse</h5></a>
  </div>
</div>
