---
interface Props {
  name: string;
  value: string;
}

const { name, value } = Astro.props;
---

<div class="flex gap-1">
  <slot name="icon" />
  <p>{name}</p>
</div>
<p class="opacity-50">{value}</p>
