---
interface Props {
  id?: string;
  title?: {
    text: string;
    size: "h1" | "h2";
  };

  background?: ImageMetadata;
  class?: string;
}

import { Image } from "astro:assets";

const { id = "", title, background, class: className = "" } = Astro.props;
---

<div
  id={id}
  data-section
  class:list={[
    "flex flex-col gap-6 w-full max-w-3xl self-center p-6 rounded-3xl",
    className,
  ]}
>
  {
    background && (
      <Image src={background} alt="" class="h-[50svh] object-cover z-10" />
    )
  }

  <div class="overflow-hidden -m-6 p-6">
    {title && title.size == "h1" && <h1>{title.text}</h1>}
    {title && title.size == "h2" && <h2>{title.text}</h2>}
  </div>

  <div class:list={["flex flex-col gap-6"]}>
    <slot />
  </div>
</div>

<script>
  import gsap from "../utils/gsap";

  const sections = Array.from(
    document.querySelectorAll("[data-section]") as NodeListOf<HTMLElement>,
  );

  sections.forEach((section) => {
    const title = section.querySelector("h1, h2");
    const image = section.querySelector("img");

    gsap.fromTo(
      image,
      {
        scale: 1.5,
        yPercent: 10,
        borderRadius: "0",
      },
      {
        scale: 1,
        yPercent: 0,
        borderRadius: "1.5rem",
        scrollTrigger: {
          trigger: section,
          start: "top 90%",
          end: "top 40%",
          scrub: true,
        },
      },
    );

    gsap.from(title, {
      translateY: -200,
      opacity: 0,
      scrollTrigger: {
        trigger: title,
        start: "top 90%",
        end: "top 40%",
        scrub: true,
      },
    });
  });
</script>
