@font-face {
  font-family: 'Moret';
  src: url('/src/assets/fonts/Moret.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Moret';
  src: url('/src/assets/fonts/MoretItalics.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Acumin';
  src: url('/src/assets/fonts/AcuminProWide.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

html * {}

body {
  @apply p-6 bg-black text-stone-100 text-wrap
}

h1, h2, h3, h4 {
  @apply font-serif
}

h1 {
  @apply text-6xl md:text-8xl
}

h1.huge {
  @apply md:text-[12rem]
}

h2 {
  @apply text-4xl md:text-6xl
}

h3 {
  @apply text-2xl md:text-4xl
}

h4 {
  @apply text-xl md:text-2xl
}

h5 {
  @apply md:text-xl font-sans
}

.hoverable {
  @apply hover:brightness-75
}

input {
  @apply bg-gray-800 rounded h-12 px-2 py-1 text-stone-300
}