---
import "../assets/global.css";
import Cursor from "../components/Cursor.astro";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<title>SEEK en Monterrey</title>
	</head>
	<body class="flex flex-col gap-12 w-full">
		<Cursor />
		<Navigation />

		<slot />
		<Footer />
	</body>
</html>
