---
import "../assets/global.css";
import Cursor from "../components/Cursor.astro";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
---

<!doctype html>
<html lang="es" class="overflow-x-hidden">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<title>SEEK Local en Monterrey</title>
		<meta property="og:title" content="SEEK Local en Monterrey" />

		<meta property="og:url" content="https://seeklocalmty.com" />

		<meta name="description" content="SEEK es una conferencia católica de tres días para universitarios. Habrán conferencistas dando diferentes temas que te ayudarán a profundizar tu fe y relación con Cristo! También tendrás la oportunidad a conocer a otras personas que tienen el mismo objetivo que tú: ¡crecer en la vida espiritual!"/>
		<meta property="og:description" content="SEEK es una conferencia católica de tres días para universitarios. Habrán conferencistas dando diferentes temas que te ayudarán a profundizar tu fe y relación con Cristo! También tendrás la oportunidad a conocer a otras personas que tienen el mismo objetivo que tú: ¡crecer en la vida espiritual!"/>
	
		<meta property="og:image" content="https://seeklocalmty.com/cover.jpg" />
	</head>
	<body
		class="flex flex-col p-6 gap-12 w-full overflow-x-hidden bg-black text-stone-100 text-wrap"
	>
		<Navigation />
		<slot />
		<Footer />

		<Cursor />
	</body>
</html>
